@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  font-family: 'Outfit',system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #10110C;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}