@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Outfit',system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #10110C;
  overflow-y: hidden;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}
html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}